html 
    include head.pug 
    body(style="background-color:rgb(171 183 88 / 97%);")
        .page-wrapper 
                .title-wrapper 
                    h1#page-title To do list
                .tasks-wrapper
                    .add-task
                        form(method="post", action="/user/forgo")
                            input#forgot(placeholder="Enter the registered emiall",name="email")
                            button.btn
                                i.fa-check.fa-solid.fa-2xl